name: Send project report reminders
on:
  schedule:
    - cron: '0 1 * * *'
  workflow_dispatch:
permissions:
  issues: write
jobs:
  remind:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the governance repository
        uses: actions/checkout@v5
      - name: Send due report reminders
        uses: hyperledger-tooling/github-issue-schedule@1.2
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
          CONFIG_FILE: ./.github/configs/project-report-reminders.yml
